[user]
    name = {{ .git_name }}
    email = {{ .git_email }}

[init]
    defaultBranch = main

[pull]
    rebase = true

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.gitignore_global
    autocrlf = input

[color]
    ui = auto

[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	purr = pull --rebase --prune
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	l = lg

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
    side-by-side = true

[merge]
    conflictStyle = zdiff3
