[user]
    name = {{ .git_name }}
    email = {{ .git_email }}

[init]
    defaultBranch = main

[pull]
    rebase = true

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto

[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	purr = pull --rebase
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	l = lg

